<div id='paperContainer'>
    <%= form_for(@rsvp) do |f| %>
      <% if @rsvp.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@rsvp.errors.count, "error") %> prohibited this rsvp from being saved:</h2>

          <ul>
          <% @rsvp.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <h1>
          <%= image_tag("quote.png", class:'quote') %>
          <span id='name1' contenteditable="true" class='name-input'></span>
          <%= f.text_field :name1, placeholder: 'name1', class: 'hidden' %>
          <%= image_tag("ampersand.png", class: 'ampersand') %>
          <span id='name2' contenteditable="true" class='name-input'></span>
          <%= f.text_field :name2, placeholder: 'name2(optional)', class: 'hidden' %>
          <%= image_tag("sayido.png", class:'full_width') %>
      </h1>

      <div class='decal'></div>
        <table class='rsvp_options'>
        <tr>
            <td>
                <%= f.label :ceremony, 'Ik ben aanwezig voor de ceremony (14h)' %>
            </td>
            <td><%= f.check_box :ceremony %></td>
        </tr>
        <tr>
            <td>
                <%= f.label :reception, 'Ik ben aanwezig voor de receptie (aansluitend)' %>
            </td>
            <td><%= f.check_box :reception %></td>
        </tr>
        <tr>
            <td>
                <%= f.label :diner, 'Ik ben aanwezig voor het diner/avondfeest' %>
            </td>
            <td><%= f.check_box :diner %></td>
        </tr>
        </table>
      <div class='decal'></div>
      <div class="actions">
        <%= f.submit "RSVP!"%>
      </div>
    <% end %>
</div>
