<div class='centered p80 birds'>
    <%= image_tag('birds.png') %>
</div>
<div id='paperContainer' class='short'>

    <%= image_tag('bedankt.png', class: 'full_width') %>


    <div class='centered p80'>
        <div class='inner-centered'>
        <span class='aparaji large black'> <%= @rsvp.name1 %></span>
        <% unless @rsvp.name2.nil? || @rsvp.name2 == '' %>
            <%= image_tag('ampersand.png', class:'ampersand') %>
            <span class='aparaji large black'> <%= @rsvp.name2 %></span>
        <% end %>
        </div>



        <div class='info'>
            <p class='aparaji normal'>We hebben je RSVP goed ontvangen</p>

            <p class='normal black'>
                <% if @rsvp.ceremony %>
                  Wij zullen aanwezig zijn bij de ceremonie
                <% else %>
                  Wij zullen <strong>niet</strong> aanwezig zijn bij de ceremonie
                <% end %>
            </p>

            <p class='normal black'>
                <% if @rsvp.reception %>
                  Wij zullen aanwezig zijn bij de receptie
                <% else %>
                  Wij zullen <strong>niet</strong> aanwezig zijn bij de receptie
                <% end %>
            </p>

            <p class='normal black'>
                <% if @rsvp.diner %>
                  Wij zullen aanwezig zijn bij het diner en avondfeest
                <% else %>
                  Wij zullen <strong>niet</strong> aanwezig zijn bij het diner en avondfeest
                <% end %>
            </p>

            <p class='aparaji small black'>
                Indien er iets niet klopt aan de informatie kan je deze <%= link_to 'hier', edit_rsvp_path(@rsvp) %> aanpassen
            </p>
        </div>
    </div>
</div>
<div class='info-boxes'>
<div class='info-box my-tooltip' title='Zwierige jurken 
en hemden paraat,
maar draag vooral gewoon
wat jou het beste staat! :)'><%= image_tag('dresscode.png') %></div>

<div class='info-box my-tooltip' title="Sparen voor een huisje,
of toch maar eerst op reis?
Met een centje als presentje,
heb je altijd prijs!"><%= image_tag('gifttip.png') %></div>

<div class='info-box my-tooltip' title='Op onze grote dag 
geen ‘Wie is BOB?’-vraag.
Zot maar niet zat,
amuseren we ons nuchter vandaag!'><%= image_tag('drinks.png') %></div>

<div class='info-box my-tooltip' title='Een week na het huwelijksbootje,
kiezen wij het ruime sop.
Middenlandse zee here we come,
de honeymoon cruise wordt top!'><%= image_tag('honeymoon.png') %></div>
<div>
